.FormSubmitBtn{
  width: 100%;
  max-width: 500px;
  background-color:#2596be;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-block: 10px;
  cursor: pointer;
  text-transform: uppercase;
  &[disabled] {
    background-color: rgb(194, 192, 192);
  }
}