.vetting {
    width: 100%;
    max-width: 1250px;
    background: #fff;
    margin: 1rem auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    .vetting-header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        padding: 1rem .9rem;
        .admin-search {
            width: 60%;
            display: flex;
            align-items: center;
            gap: 5px;
            background: #F5F5F5;
            padding: 10px 18px;
            border: none;
            border-radius: 30px;
            input {
                width: 95%;
                background: transparent;
                border: none;
                outline: none;
                font-size: 18px;
                font-weight: 400;
                line-height: 21.53px;
                color: #000;
            }
        }
    }
    .vetting-contents {
        padding: .5rem;
        .tobe-vetted, .vetted {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: #EEF3F4;
                margin: .5rem auto;
                height: 60px;
                padding: 1.5rem .6rem;
                li {
                    list-style-type: disc;
                    font-size: 19px;
                    margin-left: 1.5rem;
                    font-weight: 500;
                    color: #000;
                    &::marker {
                        font-size: 30px;
                        line-height: 20px;
                        color: #006A90;
                    }
                }
                .vet-btns {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // gap: 20px;
                    button {
                        border: none;
                        border-radius: 16.31px;
                        padding: 10px 22px;
                        background: #2596BE;
                        color: #fff;
                        font-size: 15px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }
        .vetted {
            height: 380px;
            overflow-y: scroll;
            ul {
                background: transparent;
                border: 1px solid #006A90;
                p {
                    color: #24FF01;
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {
    .vetting {
        .vetting-contents {
            .vetted {
                height: 245px;
            }
        }
    }
}
@media screen and (max-width:376px) {
    .vetting {
        .vetting-contents {
            .tobe-vetted {
                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    height: 90px;
                    padding: .8rem .6rem;
                    li {
                        font-size: 18px;
                        &::marker {
                           font-size: 20px;
                           line-height: 18px;
                        }
                    }
                }
            }
            .vetted {
                height: 150px;
                ul {
                    li {
                        font-size: 18px;
                        &::marker {
                           font-size: 20px;
                           line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}