.activity_chart {
  background: rgba(37, 150, 190, 1);
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
  height: 250px;
  position: relative;
  h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    display: block;
    padding-top: 30px;
    padding-left: 30px;
  }
}
