.formWrapper {
  width: 80vw;
  max-width:512px;
  background-color: white;
  padding: 52px;
  border-radius: 16px;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f8f8f8;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 10px #f2f2f2;
    border-radius: 50%;
  }

  .top {
    h5 {
      font-weight: 500;
      font-size: 13px;
    }
  }
  .phone {
    .inputErr {
      margin-top: 5px;
      color: rgb(179, 33, 62);
      font-size: 12px;
    }
    .TextLabel {
      font-size: 14px;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      padding-bottom: 3px;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
  }

  .GenderFields {
    display: flex;
   gap: 20px;
  }
.Text
  .TextLabel {
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    padding-bottom: 3px;
    text-transform: capitalize;
  }

  .GenderLabel {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    padding-bottom: 3px;
    text-transform: capitalize;
  }
  .Bottom {
    text-align: center;
    margin-top: 5px;
    p {
      font-size: 13px;
    }
    .privacy {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        color: #2596be;
      }
      label {
        font-size: 12px;
      }
    }
  }
}
.backButton {
  font-size: 14px;
  display: flex;
  width: max-content;
  align-items: center;
  gap: 2px;
  text-transform: capitalize;
  color: black;
}
.NameFields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 5px;
  div{
    margin: 0;
  }
}