.formWrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
  max-width: 400px;
  background-color: white;
  padding: 16px 32px;
  border-radius: 5px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f8f8f8;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 10px #f2f2f2;
    border-radius: 50%;
  }
  .top {
    h5 {
      font-weight: 500;
      font-size: 13px;
    }
  }
  .signinOptions {
    
.formDivider{
display: flex;
    width: 90%;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 10px;
    
    .line {
      width: 45%;
      height: 1px;
      background: grey;
    }
}

    
    .optionButton{
      width: 100%;
      background: transparent;
      padding: 4px 16px;
      border: 1px solid #c2c0c0;
      border-radius: 4px;
      margin-block: 4px;
    }
  }
  .NameFields,
  .GenderFields {
    display: flex;
    gap: 15px;
  }

  .TextLabel {
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    padding-bottom: 3px;
  }

  .GenderLabel {
    margin-top: 10px;
  }
  .Bottom {
    text-align: center;
    margin-top: 5px;
    p {
      font-size: 13px;
    }
    .privacy {
      text-align: left;
      a {
        color: rgb(7, 113, 219);
      }
      display: flex;
      flex-direction: row;
      label {
        font-size: 12px;
      }
    }
    button {
      background-color: rgb(19, 104, 188);
      border: none;
      padding: 10px 16px;
      border-radius: 4px;
      color: white;
      font-size: 12px;
      font-weight: 500;
      width: 90%;
      margin-block: 5px;
      cursor: pointer;
      text-transform: uppercase;
      &[disabled] {
        background-color: rgb(194, 192, 192);
      }
    }
  }
}

.inputErr {
  color: rgb(179, 33, 62);
  font-size: 12px;
}
