.page {
  background-image: url(../../../static/images/sign_up_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 10px 20px;
  .logo {
    height: 7vw;
    max-height: 70px;
    width: auto;
    position: relative;
    z-index: 3;
  }

}
