a{
  border-radius: 10px;
  background: #2596be;
  display: flex;
  width: 100%;
  max-width: 580px;
  padding: 8px;
  height: 60px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 8px;
}
