.jobfinder {
  padding: 50px;
  @media (max-width: 850px) {
    padding: 20px;
  }
  .searchFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  input {
    position: relative;
    width: 50%;
    padding: 5px;
    border-radius: 1rem;
    border: 2px solid gray;
  }
  input::placeholder {
    font-weight: 700;
  }
  .search-icon {
    position: absolute;
    right: 25rem;
  }
  .jobPost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    @media (max-width: 850px) {
      padding: 30px 80px;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
  }
  .descb {
    @media (max-width: 850px) {
      width: 80%;
    }
  }
  .linkMore {
    color: rgba(35, 56, 98, 1);
    position: absolute;
    right: 0;
  }
  .linkMore:hover {
    border-bottom: 2px solid rgba(35, 56, 98, 1);
  }
  .employer-img {
    width: 20%;
    @media (max-width: 850px) {
      width: auto;
    }
    .employer-img img {
      width: 100%;
      height: auto;
    }
    .employer-details {
      padding-top: 20px;
    }
  }
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btnA {
  background: rgba(59, 134, 47, 1);
  padding: 5px 100px;
  color: #ffff;
  border-radius: 1rem;
  @media (max-width: 850px) {
    padding: 5px 50px;
  }
}

.btnB {
  border: 2px solid rgba(203, 60, 60, 1);
  color: rgba(203, 60, 60, 1);
  padding: 5px 100px;
  border-radius: 1rem;
  @media (max-width: 850px) {
    padding: 5px 50px;
  }
}
