@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --blue: #014F86;
    --org: #FF7600;
    --green: #01937C;
    --red: #DA0037;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-form {
   width: 600px;
    margin: 0px auto;
    padding: 20px;
    background-color: #ffffff;
    
   
} 

.container-form .title {
    font-weight: 500;
    text-align: center;
    
}
.indicator-container {
    width: 60%; /* Set the desired width */
    margin: 0 auto; /* Center horizontally */
    margin-top: 20px;
    margin-bottom: 50px;
}
.indicator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 24px;
    z-index: 10; 
}


.indicator .line {
    position: absolute;
    top: 40%;
    transform: translateY(5%);
    height: 4px;
    background: #ddd;
    width: 100%;
    left: 0;
    z-index: 10;
}

.indicator .line span {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    background: var(--blue);
}

.indicator p {
    position: relative;
    z-index: 20;
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
    transition: .3s;
}

.indicator p.active {
    border-color: var(--blue);
    color: var(--blue);
}



.tab.show {
    display: block;
}

.tab p {
    margin-bottom: 18px;
}

form .tab .form{
    margin-bottom: 18px;
    width: 100%;
}

.tab .form input  {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

input::placeholder{
    color: #ccc;
    font-size: 12px;
}

.radio-container {
    display: flex; /* Use flexbox to make them appear in one row */
    
  }
  
  label {
    margin-right: 50px; /* Add some spacing between radio buttons */
  }
  
  input[type="radio"] {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
  }


.tab .form select  {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 6px;
    outline: none;
}

.form {
    margin-bottom: 10px;
  }

  .form label,
  .form input,
  .form select {
    width: 100%;
    margin-bottom: 5px;
    display: block;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .form-row1 {
    display: flex;
    margin-bottom: 10px;
  }

  .form-col {
    width: calc(50% - 10px); /* Adjust as needed */
  }

  .form-col1{
    width: 15%;
    margin-right: 10px;
  }

  .form-col2{
    width: 50%;
    margin-right: 10px;
  }

  .form-col3{
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
  }

    /* Styling for the checkbox */
.form input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.form label[for="agreeCheckbox"] {
    position: relative;
    cursor: pointer;
    padding-left: 30px; /* Create space for a custom checkbox */
}

.label-sep {
    margin-left: -48px;
}

.label-sep1 {
    margin-left: -74px;
}

.label-sep2 {
    margin-left: -290px;
}

/* Style for the custom checkbox */
.form label[for="agreeCheckbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #3498db;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

/* Change the appearance of the custom checkbox when checked */
.form input[type="checkbox"]:checked + label::before {
    border-color: #3498db;
    background-color: #3498db;
}

/* Add a checkmark to the custom checkbox when checked */
.form input[type="checkbox"]:checked + label::before {
    content: "\2713";
    color: #fff;
    text-align: center;
    line-height: 20px;
}

@media (max-width: 768px) {
  .form-col {
    width: calc(50% - 10px); /* Adjust as needed */
  }
  
}

form .btn{
    display: flex;
    justify-content: center;
}



form .btn button.prev {
    background: #eee;
}

form .btn button.next {
    
    width: 70%;
    padding: 6px;
    border: none;
    border-radius: 8px;
    background-color: #014F86;
    color: #fff;
    cursor: pointer;
}

label {
    font-size: 12px;
}

/* For screens up to 600px wide (typical mobile screens) */
@media (max-width: 600px) {
    .container-form {
        width: 90%;
        max-width: none;
    }

    .indicator p {
        width: 24px;
        height: 24px;
        font-size: 12px;
    }

    .tab .form input,
    .tab .form select {
        padding: 3px;
        margin-bottom: 8px;
    }

    form .btn button {
        padding: 8px 16px;
        font-size: 12px;
    }


    .label-sep {
        margin-left: -10px;
    }

    .label-sep1 {
        margin-left: -40px;
    }

    .label-sep2 {
        margin-left: -205px;
    }

    .indicator .line {
        top: 40%;
        height: 1px;
    }
}

.container1 {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
}

.drag-area .icon {
    font-size: 30px;
}


textarea {
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 8px;
}

/* Style the drag area */
.drag-area {
    cursor: pointer;
}

/* Style the file input */
input[type="file"] {
    display: none;
}