@keyframes splash {
  0% {
    opacity: 0.5;
    scale: 0.5;
  }

  25% {
    opacity: 1;
    scale: 1;
    transform: skew(12deg, 12deg);
  }
  50% {
    opacity: 0.5;
    scale: 0.5;
    transform: skew(-12deg, -12deg);
  }
  75% {
    opacity: 1;
    scale: 1;
    transform: skew(5deg, 5deg);
  }
  75% {
    opacity: 1;
    scale: 1;
    transform: skew(0deg, 0deg);
  }
}

.Page {
  // background-color: #2596be;
  background: radial-gradient(
    circle at center,
    #0ea5e9 0%,
    #1e40af 70%,
    #1e3a8a 100%
  );
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  .ClipWrapper {
    object-fit: contain;
    height: 15vw;
    width: auto;
    margin-top: -50px;
    translate: -50px, -100px;
    animation: splash 2.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite forwards;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
