body{
    background-color: #fff;
}

.helpContainer{
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
   
}
.helpContainer P{
    margin-bottom: 35px;
    font-family:  "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;

}
.accordions{
    margin-bottom: 35px;
    font-family:  "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 600px;
    height: 322px;
}