.tech-main-container {
  background: url(../../assests/Pexels-Photo-by-Jopwell.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .tech-img {
      top:2%; 
      left:6%;
    }

    div .logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .tech-form {
      background-color: #ffffff;
      width: 28rem;
      height: 60rem;
      margin: 7rem 0;
      padding: 3rem;
      border-radius: 1rem;
    }
    .title h1 {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .title p {
      font-size: .8rem;
      font-weight: 500;
      padding: .5rem 0;
    }
    .back {
      display: flex;
      align-items: center;
    }
 
}
  
.left {
  margin: 2rem 0 0 0;
}
  
  .inputs, .qualification, .certification, .level, .job-types, .jobs, .work-mode, .file-uploader, .letter, .portfolio, .password {
    label {
        display: flex;
        font-size: .8rem;
        font-weight: 500;
    }
    input, select, textarea {
        display: block;
        margin: 0.55rem 0;
        padding: 0.6rem 0.7rem;
        border: 0.06rem solid #c9c9c9;
        border-radius: 0.4rem;
        font-size: .7rem;
        font-weight: 400;
        font-family: Montserrat;
        width: 100%;
        background-color: transparent;
    }
    input ::placeholder {
      color: #c9c9c9;
    }
    p {
      font-size: 0.7rem;
      margin-bottom: 0.5rem;
      line-height: .8rem;
      color: red;
      display: none;
    }
    input:invalid[focused="true"] {
      border: 0.1rem solid red;
    }

    input:invalid[focused="true"] ~ p {
      display: block;
    }
  }

  .phone, .dob, .gender, .experience {
    label {
        display: flex;
        font-size: .8rem;
        font-weight: 500;
    }
  }
  
  .react-international-phone-input-container .react-international-phone-country-selector-button {
    background-color: #ffffff !important;
    border: 0.06rem solid #c9c9c9;
    width: 4rem;
    margin: 0.55rem 0;
    padding: 0.6rem 0.7rem;
    border-radius: 0.4rem 0 0 0.4rem!important;
  }
  
  .date {
    background-color: #ffffff !important;
    color: #c9c9c9;
    border: 0.06rem solid #c9c9c9;
    font-size: .7rem;
    font-weight: 400;
    font-family: Montserrat;
    width: 21.9rem;
    margin: 0.55rem 0;
    padding: 0.6rem 0.7rem;
    border-radius: 0.4rem !important;
  }
  
  .input-radio {
    display: flex;
    align-items: center;
    margin: 0.55rem 0;
  }
  
  .password-input{
    position: relative;
  }
  .pass-toggle {
    position: absolute;
    top: 56%;
    left: 20rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #c9c9c9;
    cursor: pointer;
  }

  .btn {
    button {
      color: #ffffff;
      border: none;
      padding: .6rem;
      width: 100%;
      font-family: Inter;
      font-size: .9rem;
      font-weight: 500;
      border-radius: .4rem;
      cursor: pointer;
    }
  }

  .social-acct {
    margin-bottom: 2rem;
    .or {
      display: flex; 
      justify-content: space-around;
      align-items: center;
      .line {
        width: 45%;
        height: 0.05rem;
        background-color: #000;
      }
    }
    .google {
      display: flex; 
      justify-content: center;
      align-items: center;
      background: #ffffff;
      padding: .6rem;
      width: 100%;
      border: 0.06rem solid #ffffff;
      border-radius: .4rem;
      box-shadow: .02rem .2rem rgba(0, 0, 0, 0.2);
      cursor: pointer;

      span {
        font-family: Roboto;
        font-size: .9rem;
        font-weight: 400;
        margin-left: .2rem;
      }
    }
  }

  
  
  @media only screen and (min-width:768px) {
    .tech-main-container {
      .tech-form {
        width: 34rem;
      }
    }

    .pass-toggle {
      left: 26rem;
    }

    .date {
      width: 28rem;
    }
}
  
@media only screen and (min-width:1440px) {
  .tech-main-container {
    .tech-img {
      top:3%; 
      left:6%;
    }

    .tech-form {
      width: 32rem;
      margin: 4rem 0;
    }
  } 

  .pass-toggle {
    left: 24rem;
  }

  .date {
    width: 26rem;
  }
   
}