.techForm-main {
    padding: 0 2rem;
}

.pro-logo {
    width: 120px; 
    height: 69px;
    margin: 15px auto;
}

.profile-progress {
    width: 100%;
    max-width: 494.9px;
    margin: 2rem  auto;
}
.tech-pro-heading {
    font-family: Inter;
    color: #000;
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: -20px;
    h3 {
        font-size: 28px;
        font-weight: 600;
        line-height: 33.89px;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 26.624px;
        margin: .5rem 0;
    }
}

.back-arrow {
    width: 36px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 8px;
    background: transparent;
    text-align: center;
    margin: 0 0 0 -14px;
    cursor: pointer;
}
.tech-pro-form {
    width: 100%;
    max-width: 960px;
    margin: 2rem auto;
    .rep-fullname {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 10px;
        input {
            padding: 20px 24px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            color: #c9c9c9;
            border: 1px solid #c9c9c9;
            border-radius: 10px;
            height: 48px;
        }
        label {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
        }
    }
    .email, .tech-pro-location, .tech-pro-address {
        margin: 1rem 0;
        input {
            padding: 20px 24px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            color: #c9c9c9;
            border: 1px solid #c9c9c9;
            border-radius: 10px;
            height: 48px;
        }
        label {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
        }
    }
    .tech-pro-phone, .tech-pro-countrycode {
        margin: 1rem 0;
        label {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
        }
        .css-b62m3t-container{
            font-family: Montserrat;
            width: 100%;
            max-width: 168px;
            height: 48px;
            margin: 0.55rem 0;
            .css-13cymwt-control {
                padding: 12px 20px;
                margin: 0;
                // height: 48px;
                min-height: 0;
                font-size: 16px !important;
                font-weight: 400;
                color: #c9c9c9;
                border: 1px solid #c9c9c9;
                border-radius: 10px;
                .css-1fdsijx-ValueContainer {
                    padding: 0;
                    .css-qbdosj-Input {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
        .react-international-phone-input-container .react-international-phone-country-selector-button {
            background-color: #ffffff !important;
            border: 1px solid #c9c9c9;
            width: 4rem;
            height: 48px;
            margin: 0.55rem 0 0 0;
            padding: 20px 24px;
            border-radius: 10px 0 0 10px!important;
          }
    }
    .tech-pro-qualification,.tech-pro-job {
        margin: 1rem 0;
        label {
            font-family: Manrope;
            font-size: 20px;
            font-weight: 400;
        }
        input {
            padding: 20px 24px;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            color: #c9c9c9;
            border: 1px solid #c9c9c9;
            border-radius: 10px;
            height: 48px;
        }
        .css-b62m3t-container{
            font-family: Manrope;
            width: 100%;
            // max-width: 168px;
            // height: 48px;
            margin: 0.55rem 0;
            .css-13cymwt-control {
                padding: 0px 20px;
                margin: 0;
                // height: 48px;
                min-height: 0;
                font-size: 16px !important;
                font-weight: 400;
                color: #c9c9c9;
                border: 1px solid #c9c9c9;
                border-radius: 10px;
                .css-1fdsijx-ValueContainer {
                    padding: 0;
                    .css-qbdosj-Input {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    #tech-experience {
        .css-b62m3t-container {
            max-width: 362px;
        }
    }
    .my-profile-bio {
        label {
            font-family: Manrope;
            font-size: 20px;
            font-weight: 400;
        }
        textarea {
            margin: 0.52rem 0;
            padding: 20px 24px;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            color: #c9c9c9;
            border: 1px solid #c9c9c9;
            border-radius: 10px;
            width: 100%;
            height: 139px;
        }
    }
}

.tech-pro-btn {
    width: 100%;
    max-width: 580px;
    margin: 3rem auto;
    button {
        width: 100%;
        padding: 8px;
        border: none;
        border-radius: 10px;
        background: #2596BE;
        color: #fff;
        font-family: Manrope;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
    }
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37.19px;
    height: 37.19px;
    border-radius: 50%;
    background: #B5BDC9;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.complete {
    background: #0084B3;
}

@media only screen and (min-width:1024px) {
    .techForm-main {
        padding: 0;
    }
    .pro-logo {
        margin: 25px 0 0 96px;
    }

    .profile-progress {
        margin: 2rem  auto;
    }

    .back-arrow {
        margin: 0 0 0 81px;
    }
}