.landing-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../static/images/Team-working-together.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .landing-content {
    width: 100%;
    margin: 3%;
    padding: 1rem;
    font-family: Inter;
    color: #fff;
    .land-title {
      font-size: 45px;
      font-weight: 800;
      line-height: 60px;

      span {
        color: #2596be;
      }
    }
    .land-text {
      font-size: 22px;
      font-weight: 300;
      line-height: 28px;
      margin: 1rem 0;
    }
    .land-btns {
      margin: 1.6rem;
      width: 50%;
      a {
        display: block;
        color: #fff;
        font-weight: 400;
        background: #2596be;
        width: 100%;
        padding: 12px;
        border: 0.07rem solid #2596be;
        border-radius: 0.4rem;
        text-align: center;
      }
    }
  }
}

.jobs-btns {
  width: 100%;
  max-width: 87rem;
  margin: 6% auto;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  a {
    display: block;
    color: #fff;
    font-weight: 400;
    width: 100%;
    background: #2596be;
    margin: 0 1rem;
    padding: 12px;
    border: 0.07rem solid #2596be;
    border-radius: 0.7rem;
    text-align: center;
  }
  .find-btn {
    color: #2596be;
    background: transparent;
  }
}

.profile-landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../static/images/nxg-landing-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  header {
    .navbar {
      a {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        padding: 10px 12px;
        text-align: center;
        height: 40px;
        margin: 0 8px;
        &:hover {
          color: #2596be;
        }
      }
    }
  }
  .profileLanding-contents {
    width: 100%;
    margin: 3%;
    padding: 1rem;
    font-family: Inter;
    color: #fff;

    .land-title {
      font-size: 50px;
      font-weight: 800;
      line-height: 80px;

      span {
        color: #2596be;
      }
    }
    p {
      font-size: 22px;
      font-weight: 300;
      line-height: 28px;
      margin: 1rem 0;
    }
    .land-btns {
      margin: 1.6rem 0;
      width: 50%;
      a {
        display: block;
        color: #fff;
        font-weight: 400;
        background: #2596be;
        width: 100%;
        padding: 12px;
        border: 0.07rem solid #2596be;
        border-radius: 0.4rem;
        text-align: center;
      }
    }
  }

  .AlertTabWrapper {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #00000089;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
}

// Header & Navbar Styling

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 84rem;
  padding: 0.6rem;
  margin: auto;
  .h-logo-mobile {
    display: block;
  }
  .h-logo {
    display: none;
  }
  #nav-toggle {
    display: block;
    background: transparent;
    border: none;
    z-index: 1;
    .menu-icon {
      width: 2.2rem;
      height: auto;
      color: #2596be;
    }
  }
  .nav-container {
    nav {
      margin: 0;
      position: fixed;
      left: 0;
      top: -120%;
      width: 100%;
      height: 50vh;
      background: #fff;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .navbar {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;
          a {
            background: transparent;
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            color: #2596be;
            padding: 10px;
            height: 40px;
            border: none;
            margin: 0 0px;
            &:hover {
              background: #2596be;
              color: #fff;
            }
          }
        }
        .nav-btns {
          display: flex;
          flex-direction: column;
          margin-left: 0rem;
          a {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            padding: 10px 40px;
            height: 40px;
          }
          .login-btn {
            background: transparent;
            border: 0.07rem solid #2596be;
            color: #2596be;
            border-radius: 0.4rem;
            margin: 0.5rem 0rem;
            &:hover {
              border-color: #fff;
              color: #2596be;
            }
          }
          .signup-btn {
            background: #2596be;
            border: none;
            border-radius: 0.4rem;
            &:hover {
              background: #fff;
              color: #2596be;
            }
          }
        }
      }
    }
    .nav-show {
      top: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    .h-logo-mobile {
      display: block;
    }
    .h-logo {
      display: none;
    }
  }
  .landing-main {
    background-position: center;
    background-position-y: center;
    .landing-content {
      margin: 20% 4%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .land-title {
        font-size: 60px;
        line-height: 80px;
      }
      .land-text {
        font-size: 30px;
        line-height: 45px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    .h-logo-mobile {
      display: none;
    }
    .h-logo {
      display: block;
    }
    #nav-toggle {
      display: none;
    }
    .nav-container {
      nav {
        position: relative;
        left: 0;
        top: 0;
        height: 6.3vh;
        background: transparent;
        margin: 0.7rem 0;
        ul {
          flex-direction: row;
          .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            a {
              font-size: 14px;
              font-weight: 400;
              color: #fff;
              padding: 10px 12px;
              text-align: center;
              height: 40px;
              margin: 0 8px;
              &:hover {
                color: #2596be;
                background: transparent;
              }
            }
          }
          .nav-btns {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-left: 0.7rem;
            a {
              font-size: 14px;
              padding: 10px 15px;
            }
            .login-btn {
              margin: 0 0.7rem 0 0;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .landing-main {
    background-position: center;
    background-position-y: center;
    .landing-content {
      width: 45%;
      margin: 6%;
      .land-title {
        font-size: 60px;
        line-height: 80px;
      }
      .land-text {
        font-size: 30px;
        line-height: 45px;
      }
    }
  }
  .profile-landing {
    .profileLanding-contents {
      width: 45%;
      margin: 6%;
      .land-title {
        font-size: 60px;
        line-height: 80px;
      }
      p {
        font-size: 30px;
        line-height: 45px;
      }
    }
  }
}
// @media only screen and (min-width: 1280px) {
//   header {
//     .nav-container {
//       nav {
//         width: 48%;
//       }
//     }
//   }
// }

// @media only screen and (min-width: 1440px) {
//   header {
//     .nav-container {
//       nav {
//         width: 46%;
//       }
//     }
//   }
// }
// Search Bar styles

.searchBar {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #9a9a99b9;
  border-radius: 20px;
  border: 1px solid #2596be;
  padding: 0 10px;
  width: 25vw;
  min-width: 350px;
  .searchInput {
    margin: 0;
    border: none;
    width: 20vw;
    color: white;
    &:focus {
      outline: 1px solid transparent;
    }
    &::placeholder {
      color: white;
    }
  }
  svg {
    cursor: pointer;
  }
}
.navIcons {
  display: flex;

  gap: 25px;
  margin-left: -10%;
  width: 15%;
  a {
    font-size: 13px;
    svg {
      height: 25px;
      width: auto;
    }
  }
}
