.Sidebar {
  background: #006a90;
  padding: 10px 20px;
  color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  > img {
    height: 55px;
    width: auto;
    // display: block;
    margin: 15px auto;
  }
  .Profile {
    text-align: center;
    > p {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      svg {
        height: 25px;
        width: auto;
      }
    }
    strong {
      display: block;
    }
    span {
      position: relative;
      img {
        height: 100px;
        border-radius: 50%;
        width: auto;
      }
      svg {
        position: absolute;
        bottom: 5px;
        right: -5px;
        cursor: pointer;
      }
    }
  }
  ul.list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 45vh;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      width: 2px;
      background-color: #2596be;
      border-radius: 3px;
    }
    a.Selected {
      color: #b2fff5;
      border-radius: 3px;
      background-color: #ffffff15;
      pointer-events: none;
      svg {
        filter: invert(25%) sepia(14%) saturate(639%) hue-rotate(116deg)
          brightness(107%) contrast(104%);
      }
      &:hover {
        transform: translateX(0px);
        transition: none;
        cursor: auto;
      }
    }
  }
  a.dashboardItem {
    color: white;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 3px 6px;
    svg {
      height: 20px;
      width: auto;
    }
    &:hover {
      transform: translateX(15px);
      transition: all 0.25s linear;
      cursor: pointer;
      border-radius: 3px;
      color: #b2fff5;
      background-color: #ffffff15;
      svg {
        filter: invert(25%) sepia(14%) saturate(639%) hue-rotate(116deg)
          brightness(107%) contrast(104%);
      }
    }
  }
  a.Logout {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #006a90;
    bottom: 5px;
    &:hover {
      background-color: #006a90;
    }
  }
}
