.EmployerLogin {
  height:100vh;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  .LoginWrapper {
    border-radius: 5px;
    display: flex;
    width: 70%;
    height: 95%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    >div {
      height: 100%;
      width: 50%;
      object-fit: contain;
      background-image: url("../../../static/images/Pexels\ Photo\ by\ Jopwell.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-left: 25px;
      padding-top: 25px;
      img{
        height: 50px;
        width: auto;
      }
    }
  }
}
