.company-rep {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: auto;

    .rep-forms {
        margin: 1rem 0;
        padding: 1rem 1.5rem;

        .email, .company-name, .company-website {
            .inputs {
                input {
                    padding: 0.9rem 0.8rem;
                }
                label {
                    font-weight: 400;
                }
            }
        }

        .board {
            margin: .8rem 0;
            select {
                padding: 0.9rem 0.8rem;
                max-width: 20rem;
            }
        }

        .rep-fullname, .phone-address, .nation-state, .country-zip {
            width: 100%;
            margin: .8rem 0;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            text-align: start;
            .inputs {
                width: 100%;
                max-width: 31rem;
                label {
                    font-weight: 400;
                }
                input {
                    padding: 0.9rem 0.8rem;
                }
            }
            .rep-phone {
                label {
                    font-size: .8rem;
                    font-weight: 400;
                    text-align: start;
                }
                .react-international-phone-input-container .react-international-phone-country-selector-button {
                    width: 5rem;
                    height: 41px;
                    padding: 0.9rem 0.8rem;
                }
            }
        }
        .nation-state, .phone-address {
            gap: 10px;
            .tech-pro-qualification {
                margin: 1rem 0;
                width: 100%;
                max-width: 31rem;
                text-align: start;
                label {
                    font-family: Manrope;
                    font-size: 0.8rem;
                    font-weight: 400;
                }
                input {
                    padding: 20px 24px;
                    font-family: Manrope;
                    font-size: 16px;
                    font-weight: 400;
                    color: #c9c9c9;
                    border: 1px solid #c9c9c9;
                    border-radius: 10px;
                    height: 48px;
                }
                .css-b62m3t-container{
                    font-family: Manrope;
                    width: 100%;
                    margin: 0.55rem 0;
                    .css-13cymwt-control {
                        padding: 0px 20px;
                        margin: 0;
                        min-height: 0;
                        font-size: 16px !important;
                        font-weight: 400;
                        color: #c9c9c9;
                        border: 1px solid #c9c9c9;
                        border-radius: 10px;
                        .css-1fdsijx-ValueContainer {
                            padding: 0;
                            .css-qbdosj-Input {
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
        .rep-recruiter {
            display: flex;
            flex-direction: column;
            text-align: start;
            .rep-label {
                
                .rep-radio {
                    appearance: none;
                    width: 30px;
                    height: 25px;
                    border-radius: 50%;
                    background: #D9D9D9;
                    margin-top: .6rem;
                    cursor: pointer;
                }
                .rep-radio:checked {
                    background: #006B99;
                }
                span {
                    position: relative;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    vertical-align: 30%;
                    margin-left: .55rem;
                }
            }
        }
        .board {
            .css-b62m3t-container{
                font-family: Manrope;
                width: 100%;
                max-width: 22rem;
                margin: 0.55rem 0;
                text-align: start;
                .css-13cymwt-control {
                    padding: 10px 20px;
                    margin: 0;
                    min-height: 0;
                    font-size: 16px !important;
                    font-weight: 400;
                    color: #c9c9c9;
                    border: 1px solid #c9c9c9;
                    border-radius: 10px;
                    .css-1fdsijx-ValueContainer {
                        padding: 0;
                        .css-qbdosj-Input {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}
.rep-btn {
    button {
        padding: 1rem 1.8rem;
        font-size: 18px;
        font-weight: 400;
        background-color: #006a90;
        border: none;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
    }
}

@media screen and (max-width:768px) {
    .company-rep {
        .rep-forms {
            .phone-address, .nation-state {
                flex-direction: column;
                .tech-pro-qualification {
                    margin: .5rem 0;
                }
            }
        }
    }
}