// .dash-profile-main-container {
//     .verify-hide {
//         display: none;
//     }
// }


.employer-dash-header {
    width: 90%;
    border-bottom: 1px solid rgba(177, 226, 240, 0.5);
    h1 {
        font-size: 24px;
        font-weight: 800;
        line-height: 32.78px;
        color: #004259;
        margin-bottom: 1rem;
    }
}

.employer-dash-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 20px;
    margin: auto;
    .employer-dash {
        margin-top: 5%;
        padding: 1rem;
        border: 1px solid rgba(177, 226, 240, 0.5);
        .connect-pics {
            display: flex;
            justify-content: center;
            align-items: center;
            .connect-img {
                width: 200px;
                height: 200px;
                border: none;
                border-radius: 50%;
                background: #EBEBEB;
                .user {
                    width: 100%;
                    height: 100%;
                    padding: .5rem;
                    object-fit: contain;
                    color: #fff;
                }
            }
           .online {
            text-align: center;
            align-self: flex-end;
            margin: 0 0 1rem -1rem;
            .avaliability {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
           }
        }
        .job-opens {
            width: 100%;
            max-width: 464px;
            margin: auto;
            margin-top: 1rem;
            padding: 0.5rem 0;
            text-align: center;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .post-id {
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                color: #263238;
            }
            .employer-name {
                margin-top: 0.5rem;
                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 153.99%;
                    color: #000000;
                }
            }
            .acct-verify {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #3B862F;
                border-radius: 5px;
                width: 100px; 
                margin: auto;
                padding: .2rem;
                cursor: pointer;
                span {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 12.1px;
                }
            }
        }
        form {
            font-family: Manrope;
            margin-top: 10%;
            .my-profile-fullname {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
                gap: 30px;
                margin: 1.5rem 0;
                .my-profile-firstname, .my-profile-lastname {
                    position: relative;
                    label {
                        position: absolute;
                        display: inline;
                        top: -25%;
                        left: 5%;
                        font-size: 16px;
                        font-weight: 500;
                        padding: 0 4px;
                        color: rgba(68, 68, 68, 0.91);
                        background-color: #fff !important;
                        z-index: 10;
                    }
                    input {
                        width: 100%;
                        height: 48px;
                        padding: 0.6rem 0.7rem;
                        margin: 0;
                        border-radius: 5px;
                        border: 1px solid #555555;
                        color: #000;
                    }
                }
            }
            .my-profile-bio {
                position: relative;
                margin: 2rem 0;
                label {
                    position: absolute;
                    display: inline;
                    top: -15%;
                    left: 5%;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0 4px;
                    color: rgba(68, 68, 68, 0.91);
                    background-color: #fff !important;
                    z-index: 10;
                }
                textarea {
                    width: 100%;
                    height: 80px;
                    margin: 0;
                    padding: 0.6rem 0.5rem;
                    border-radius: 5px;
                    border: 1px solid #555555;
                    color: #000;
                }
            }
            .my-profile-address, .my-profile-email {
                position: relative;
                margin: 2rem 0;
                label {
                    position: absolute;
                    display: inline;
                    top: -25%;
                    left: 5%;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0 4px;
                    color: rgba(68, 68, 68, 0.91);
                    background-color: #fff !important;
                    z-index: 10;
                }
                input {
                    width: 100%;
                    height: 48px;
                    margin: 0;
                    padding: 0.6rem 0.5rem;
                    border-radius: 5px;
                    border: 1px solid #555555;
                    color: #000;
                }
            }
            button {
                width: 100px;
                background: #E3EDFF;
                border: 1px solid #000000;
                font-weight: 400;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
                padding: .5rem 0;
                cursor: pointer;
            }
        }
    }
    .employer-dash1 {
        margin-top: 10%;
        border: 1px solid rgba(177, 226, 240, 0.5);
        width: 100%;
        max-width: 514px;
        height: 326px;
        display: flex;
        justify-content: center;
        align-items: center;
        section {
            width: 95%;
            margin: auto;
        }
        .employ-dashBtns {
            margin:.5rem  auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                width: 184px;
                padding: .6rem 1rem;
                text-align: center;
                font-size: 24px;
                font-weight: 400;
                background: transparent;
                color: #000;
                border: 1px solid rgba(177, 226, 240, 0.5);
                border-radius: 5px;
            }
            .verifiedForm-btn {
                width: 220px;
                background: transparent;
                color: #2596BE;
                border: 3px solid #2596BE;
            }
        }
    }
}

.verify-arrow {
    width: 2rem;
    height: 2rem;
    margin-left: -.2rem;
    cursor: pointer;
}
.verifiedForm-main {
    width: 100%;
    max-width: 1216px;
    margin: 2rem auto;
    h2 {
        font-size: 24px;
        font-weight: 800;
        line-height: 36.957px;
    }
    .verified-section {
        .tech-pro-form {
            width: 100%;
            max-width: 1216px;
            .file-wrapper{
                label {
                    font-size: 24px;
                    font-weight: 400;
                }
            }
        }
        .my-profile-bio {
            margin: 2rem 0;
            label {
                display: block;
                font-size: 24px;
                font-weight: 400;
                line-height: 39.936px;
                margin-bottom: .3rem;
            }
            input {
                width: 100%;
                max-width: 1216px;
                height: 100px;
                padding: 0 .5rem;
                border: 1px solid #C9C9C9;
            }
            textarea {
                width: 100%;
                max-width: 1216px;
                padding: 0 .5rem;
                border: 1px solid #C9C9C9;
            }
        }
        .verified-btn {
            text-align: center;
            margin: 3rem 0 0 0;
            button {
                width: 260px;
                padding: .6rem 1rem;
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                background: #2596BE;
                color: #fff;
                border: none;
                border-radius: 12px;
                cursor: pointer;
            }
        }
    }
}

.veri-modal {
    h2 {
        font-size:  30px; 
        font-weight:  600; 
        line-height:  54.64px; 
        color: #000000; 
        margin-bottom: 1.5rem;
    }
}

.veri-modalBtn {
    margin: 2rem 0 ;
}

@media only screen and (min-width:768px) {
    .employer-dash-section {
        .employer-dash {
            margin-top: 10%;
            form {
                .my-profile-fullname {
                    gap: 30px;
                }
                .my-profile-bio, .my-profile-email, .my-profile-address {
                    label {
                        left: 5%;
                    }
                }
            }
        }
    }
    
}
@media only screen and (min-width:1028px) {
    .employer-dash-section {
        .employer-dash {
            // margin-top: 20%;
            form {
                .my-profile-fullname {
                    gap: 15px;
                }
                .my-profile-bio, .my-profile-email, .my-profile-address {
                    label {
                        left: 2%;
                    }
                }
            }
        }
    }
    .veri-modal {
        h2 {
            font-size:  40px; 
        }
    }
    .veri-modalBtn {
        margin: 2rem 0 0 0;
    }
    
}
@media only screen and (min-width:1440px) {
    .employer-dash-section {
        .employer-dash {
            // margin-top: 20%;
            form {
                .my-profile-fullname {
                    gap: 15px;
                }
                .my-profile-bio, .my-profile-email, .my-profile-address {
                    label {
                        left: 2%;
                    }
                }
            }
        }
    }
    .verify-arrow {
        margin-left: 2rem;
    }
    .veri-modal {
        h2 {
            font-size:  40px; 
        }
    }
    
}