.AlertTabItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  > img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: red;
  }
  > div {
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
    overflow: hidden;
    span {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 75%;
   
      h3 {
        font-size: 15px;
      }
      p{
        font-size: 13px;
        color: #1f1f1f;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &::first-letter{
          text-transform: uppercase;
        }
      }
    }
  }
}
