.heading{
    $primary-color : #006A90;;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;

  .section {
    margin-bottom: 2rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  }