.admin-container {
    display: flex;
    height: 100vh;
    .sidebar-main {
        width: 300px;
        height: 100%;
        background: #2596BE;
        .side-logo {
            width: 130px;
            height: 70px;
            margin: 2rem auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .menu-icons-container {
            margin-top: 4.5rem;
            .dashboardItem {
                display: flex;
                color: #EEF3F4;
                font-size: 16px;
                font-weight: 500;
                line-height: 21.86px;
                align-items: center;
                gap: 10px;
                padding: 8px 16px;
                margin: .5rem auto;
                cursor: pointer;
                div {
                    display: flex;
                    align-items: center;
                    svg {
                        height: 24px;
                        width: auto;
                        margin: 4px 0 0 0;
                    }
                }
                p {
                    display: block;
                }
        
                &:hover {
                color: #2596be;
                cursor: pointer;
                background-color: #ffffffc4;
                    svg {
                        filter: invert(51%) sepia(42%) saturate(833%) hue-rotate(150deg)
                        brightness(92%) contrast(85%);
                    }
                }
            }
            .dashboardItem[aria-current="page"] {
                color: #ffffff;
                background-color: #215E7D;
                border-left: 8px solid #B1E2F0;
                padding: 8px 10px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                pointer-events: none;
                &:hover {
                  cursor: auto;
                }
            }
        }
        .Logout {
            width: 100%;
            display: flex;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            line-height: 21.86px;
            align-items: center;
            gap: 8px;
            padding: 8px 16px;
            margin-top: 90%;
            cursor: pointer;
            div {
                align-items: center;
                svg {
                    height: 24px;
                    width: auto;
                    margin: 4px 0 0 0;
                }
            }
            p {
                display: block;
            }
            &:hover {
                color: #2596be;
                cursor: pointer;
                background-color: #ffffffc4;
                svg {
                    filter: invert(51%) sepia(42%) saturate(833%) hue-rotate(150deg)
                    brightness(92%) contrast(85%);
                }
            }
        }
    }
    .admin-main {
        width: 100%;
        height: 100%;
        .header-section {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            gap: 30px;
            padding: 1rem 0 1rem .5rem;
            height: 55px;
            .user-types {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .user-talent {
                    cursor: pointer;
                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        color: #000;
                        line-height: 27.32px;
                    }
                }
                .user-active {
                    cursor: auto;
                    border-bottom: 1px solid #215E7D;
                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                        color: #215E7D;
                    }
                }
            }
            .admin-search {
                grid-column: 2 / 4;
                display: flex;
                align-items: center;
                gap: 5px;
                background: #D6F0F7;
                padding: 10px 18px;
                border: none;
                border-radius: 30px;
                input {
                    width: 95%;
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.94px;
                    color: #A0A0A0;
                }
            }
            .admin-relevance {
                display: flex;
                align-items: center;
                width: 100%;
                font-size: 15px;
                font-weight: 500;
                color: #222020;
                label {
                    margin-right: .6rem;
                }
                .relevance-select {
                    width: 100%;
                    max-width: 220px;
                }
                .css-13cymwt-control {
                    border: 1px solid #000;
                    border-radius: 9px;
                    color: #000;
                    padding: 10px 8px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
        .users-details {
            width: 98%;
            height: calc(100vh - 55px);
            overflow-y: scroll;
            margin: auto;
            padding-top: 2rem;
            &::-webkit-scrollbar {
                width: 12px;
                background-color: #D6F0F7;
                border-radius: 6px;
                margin-top: 2rem;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #2596BE;
                border-radius: 6px;
            }
            .app-users {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
                gap: 16px;
                padding: 0 .5rem;
                .user-card {
                    padding: .6rem;
                    border-radius: 10px;
                    background: #FFF;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    text-align: center;
                    .user-plan {
                        text-align: start;
                        span {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16.39px;
                        }
                    }
                    .user-contents {
                        .user-pics-section {
                            position: relative;
                            margin: 1rem auto;
                            .user-pics {
                                width: 150px;
                                height: 150px;
                                margin: auto;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                            .restrict {
                                position: absolute;
                                width: 175px;
                                height: 175px;
                                top: -8%;
                                left: 18%;
                            }
                        }
                        .user-details-contents {
                            margin: 1rem auto;
                            h5 {
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 21.86px;
                            }
                            p {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 16.39px;
                            }
                            .user-link {
                                margin-top: 1.3rem;
                                a {
                                    font-size: 10px;
                                    font-weight: 400;
                                    line-height: 13.66px;
                                    border-bottom: 1px dotted;
                                    color: #0056F1;
                                }
                            }
                        }
                       
                    }
                    .user-btn-section {
                        width: 98%;
                        margin: auto;
                        margin-top: 1rem;
                        button {
                            width: 100%;
                            border: 1px solid #CB3C3C;
                            border-radius: 8px;
                            background: transparent;
                            padding: 10px;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16.39px;
                            color: #CB3C3C;
                        }
                        .reactivate-btn {
                            color: #ffffff;
                            border: none;
                            background: #3B862F;
                        }
                    }
                }
            }
        }
        .user-details-container {
            margin: 0 1rem 0 1rem;
            .user-picsContent {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .user-pics-container {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .user-pics-section {
                        position: relative;
                        margin: 1rem auto;
                        .user-pics {
                            width: 165px;
                            height: 165px;
                            margin: auto;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .restrict {
                            position: absolute;
                            width: 191px;
                            height: 191px;
                            top: -8%;
                            left: -8%;
                        }
                    }
                    .user-pics-detail {
                       font-size: 20px;
                       font-weight: 600;
                       p {
                        margin: .4rem 0;
                        line-height: 27.32px;
                        span {
                            font-size: 17px;
                            font-weight: 400;
                            line-height: 23.22px;
                        }
                       }
                    }
                }
                .user-btn-section {
                    button {
                        width: 100%;
                        border: 1px solid #CB3C3C;
                        border-radius: 8px;
                        background: #CB3C3C;
                        padding: 10px 30px;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16.39px;
                        color: #ffffff;
                    }
                    .reactivate-btn {
                        border: 1px solid #3B862F;
                        background: #3B862F;
                    }
                }
            }
        }
        .application {
            width: 97%;
            height: 210px;
            margin: 1.5rem auto;
            display: flex;
            flex-direction: row;
            gap: 0px;
            justify-content: space-between;
            align-items: center;
            overflow-y: auto;
            .contracts {
                width: 328px;
                height: 95%;
                background: #FFFFFF;
                color: #000000;
                text-align: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 12px;
                h5 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 27px;
                    margin: 2rem 0;
                }
                p {
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 66px;
                }
            }
            .user-jobs {
                background: #D6F0F7;
                color:#215E7D;
            }
        }
        .history {
            width: 100%;
            max-width: 1250px;
            height: 198px;
            background: #fff;
            margin: auto;
            margin-top: 1rem;
            border: 1px solid #dbdbdb;
            border-radius: 28px 28px 0 0;
            
            h4 {
                font-size: 20px;
                font-weight: 400;
                line-height: 24.2px;
                margin: 1rem 0 0 1.5rem;
                padding: .5rem 0;
            }
            .employer-history {
                width: 100%;
                height: 72%;
                overflow-y: auto;
                background: #ffffff;
                .active-employer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #dbdbdb;
                    margin: .5rem 0;
                    .employer-section {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        border-left: 6px solid rgba(37, 150, 190, 0.75);
                        .employer-logo {
                            width: 60px;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2rem;
                            margin-left: .4rem;
                        }
                        h5 {
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 32.78px;
                        }
                    }
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 21.86px;
                    }
                    a {
                        font-size: 13.65px;
                        font-weight: 300;
                        line-height: 18.65px;
                        color: #0056F1;
                        margin-right: .5rem;
                        border-bottom: 1px dotted;
                    }
                }
            }
           
        }
    }
}

@media screen and (max-width:1280px) {
    .admin-container {
        .admin-main {
            .header-section {
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                .admin-search {
                    grid-column: 2 / 3;
                }
            }
            .users-details {
                .app-users {
                    .user-card {
                        .user-contents {
                            .user-pics-section {
                                .restrict {
                                    left: 21%;
                                }
                            }
                        }
                    }
                }
            }
            .history {
                width: 98%;
                height: 240px;
                .employer-history {
                    height: 77%;
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {
    .admin-container {
        .sidebar-main {
            .Logout {
                margin-top: 60%;
            }
        }
        .admin-main {
            .header-section {
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                .admin-search {
                    grid-column: 2 / 3;
                }
                .admin-relevance {
                    .relevance-select {
                        max-width: 200px;
                    }
                }
            }
            .users-details {
                .app-users {
                    .user-card {
                        .user-contents {
                            .user-pics-section {
                                .restrict {
                                    left: 18%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .admin-container {
        .sidebar-main {
            .Logout {
                margin-top: 95%;
            }
        }
        .admin-main {
            .header-section {
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                .admin-search {
                    grid-column: 2 / 3;
                }
                .admin-relevance {
                    .relevance-select {
                        max-width: 180px;
                    }
                }
            }
            .users-details {
                .app-users {
                    .user-card {
                        .user-contents {
                            .user-pics-section {
                                .restrict {
                                    left: 25%;
                                }
                            }
                        }
                    }
                }
            }
            .user-details-container {
                .user-picsContent {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            .application {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                .contracts {
                    width: 100%;
                    h5 {
                        margin: 1rem 0;
                    }
                }
            }
            .history {
                height: 200px;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .admin-container {
        .sidebar-main {
            width: 55px;
            .side-logo {
                width: 52px;
                height: 40px;
            }
            .menu-icons-container {
                margin-top: 3.5rem;
                .dashboardItem {
                    p {
                        display: none;
                    }
                }
            }
            .Logout {
                // margin-top: 16%;
                p {
                    display: none;
                }
            }
        }
        .admin-main {
            .header-section {
                grid-template-columns:  1fr;
                gap: 15px;
                height: 150px;
                .admin-search {
                    grid-column: 1;
                }
            }
            .users-details {
                height: calc(100vh - 150px);
                .app-users {
                    .user-card {
                        .user-contents {
                            .user-pics-section {
                                .restrict {
                                    left: 22%;
                                }
                            }
                        }
                    }
                }
            }
            .user-details-container {
                .user-picsContent {
                    flex-direction: column;
                    align-items: flex-start;
                    .user-pics-container {
                        .user-pics-section {
                            .user-pics {
                                width: 120px;
                                height: 120px;
                            }
                            .restrict {
                                width: 150px;
                                height: 150px;
                                top: -9%;
                                left: -9%;
                            }
                        }
                        .user-pics-detail {
                            font-size: 17px;
                            p {
                             margin: .4rem 0;
                             line-height: 20px;
                             span {
                                 font-size: 14px;
                                 font-weight: 400;
                                 line-height: 18px;
                             }
                            }
                         }
                    }
                }
            }
            .application {
                height: 160px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                .contracts {
                    width: 100%;
                    h5 {
                        margin: .7rem 0;
                        font-size: 18px;
                        line-height: 20px;
                    }
                    p {
                        font-size: 40px;
                        line-height: 45px;
                    }
                }
            }
            .history {
                height: 420px;
                h4 {
                    font-size: 17px;
                    margin: .7rem 0 0 1rem;
                }
                .employer-history {
                    .active-employer {
                        .employer-section {
                            .employer-logo {
                                width: 40px;
                                height: 40px;
                                font-size: 1.5rem;
                            }
                            h5 {
                                font-size: 18px;
                            }
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:376px) {
    .admin-container {
        .admin-main {
            .users-details {
                .app-users {
                    .user-card {
                        .user-contents {
                            .user-pics-section {
                                .restrict {
                                    left: 18%;
                                }
                            }
                        }
                    }
                }
            }
            .history {
                height: 130px;
                .employer-history {
                    .active-employer {
                        .employer-section {
                            flex-direction: column;
                            gap: 0px;
                            .employer-logo {
                                width: 35px;
                                height: 35px;
                                font-size: 1.5rem;
                            }
                            h5 {
                                font-size: 16px;
                            }
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
