.ChatPage {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  // min-height: 80vh;
  .ChatScreen {
    height: 100vh;
    width: 100%;
    position: relative;
    .ChatHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      text-align: center;
      font-size: 22px;
      width: 80%;
      margin: 10px auto;
      border-bottom: 2px solid darkgrey;
      color: #444;
      div {
        display: flex;
        align-items: center;
        gap: 5px;
        h1{
          font-size: 24px;
        }
        div{
          display: flex;
          align-items: center;
        }
        img {
          height: 70px;
          width: auto;
        }
        svg {
          height: 30px;
          font-size: 40px;
          cursor: pointer;
        }
      }
    }
    .Chats {
      height: calc(100% - 150px);
      overflow-y: auto;
      padding-inline: 15px;
      scrollbar-width: none;
      
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-track,
      ::-webkit-scrollbar {
        display: none;
      }
    }
    >img{
      position: absolute;
      transition :margin-bottom .5s linear;
      padding: 10px;
      margin-bottom: 100px;
      background-color: #2596be;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      margin-left:10% ;
    }
    .SendMessage {
      display: flex;
      max-height: 100px;
      padding: 5px;
      justify-content: center;
      align-items: center;
      svg {
        height: 23px;
        font-size: 23px;
        cursor: pointer;
      }
      .MessageBoxWrapper {
        border: 1px solid #2596be;
        display: flex;
        width: 85%;
        margin: auto;
        padding: 10px;
        justify-content: space-between;
        transition: height 0.25s linear;
        border-radius: 36px;
        align-items: center;
        .MessageBox {
          width: 78%;
          resize: none;
          outline: none;
          height: 20px;
          padding-inline-start: 5px;
          border: none;
          background-color: transparent;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 15px;
          margin-left: 10px;
        }
      }
      .Send {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        transform: translateX(-30px);
      }
    }
  }

  .messages {
    overflow-y: auto;
    overflow-x: visible;
    width: 40vw;
    cursor: default;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
    gap: 10px;
    background-color: rgba(155, 203, 221, 0.7);
    height: 100vh;
    padding: 40px 25px;
    border-right: 3px solid #2596be;
scrollbar-width: none;
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track,
    ::-webkit-scrollbar {
      display: none;
    }
    > span {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f5f5f5;
        border-radius: 20px;
        border: 1px solid #2596be;
        padding: 0 10px;
        width: 65%;
        height: max-content;

        input {
          border: none;
          background: transparent;
          border-radius: 10px;
          height: 35px;
          width: 90%;
          &:focus {
            outline: 1px solid transparent;
          }
        }
        svg {
          cursor: pointer;
          filter: invert(33%) sepia(7%) saturate(20%) hue-rotate(314deg)
            brightness(95%) contrast(95%);
          font-size: 35px;
        }
      }
      > svg {
        cursor: pointer;
        font-size: 35px;
        color: #545353;
        &:hover {
          transition: scale 0.25s linear;
          scale: 0.85;
        }
        &:last-child {
          font-size: 30px;
        }
      }
    }
  }

  .webcamWrapper {
    position: absolute;
    height: 80%;
    width: 55%;
    background-color: #54535300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    transition: transform 0.05s linear;
    z-index: -1;
    

    .webcam {
      height: 100%;
      width: 100%;
    }
    .CamFeatures{
      position: absolute;
      color: #f5f5f5;
      z-index: 70;
       bottom: 0;
       width: 100%;
       padding-block: 10px;
    }
  }
  .canvas{
    display: none;
  }
  // >img{
  //   display: none;
  // }
  // .ImagePreview{
  //   display: none;
  // }
}
